/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

  transition: ease 3s;
}

/* Modal Content */
.modal-content {
  border-radius: 4.8px 11.2px 11.2px 4.8px / 4.8px 8.32px 7.68px 11.2px;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 45px;
  width: 60%;
  color: #000;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  margin-top: -0.5rem;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.messageModel {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
}

.disMiss {
  width: 80px;
  padding: 0.8rem;
  border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
  /* border-radius: 90px 180px 180px 90px / 90px 120px 68px 170px; */
  box-shadow: 0 4vmin 16vmin #ffb6c1 inset, 0 2vmin 5vmin #ffb6c1 inset,
    0 4vmin 4vmin #ffb6c1 inset, 0 6vmin 8vmin purple inset;
  margin: auto;
  order: 1;
  color: #fefefe;
  cursor: pointer;
}

.disMiss:hover,
.disMiss:focus {
  box-shadow: none;

  text-decoration: none;
  cursor: pointer;

  color: #ffb6c1;
  border: 1px solid #ffb6c1;
  background-color: #fefefe;
}

@media only screen and (min-width: 760px) {
}
